.tag {
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: dashed 1px black;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 5px;
  font-size: 13px;
  background: lightskyblue;
  cursor: pointer;
}
