.bookmark {
  border: solid 1px black;
  position: relative;
  height: 90px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.image-container {
  padding: 5px;
}

.content-container {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.header {
  height: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  height: 50%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.tags-container {
  height: 25%;
  display: flex;
  flex-flow: row nowrap;
}

.actions-container {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.delete-button {
  cursor: pointer;
}

.edit-button {
  cursor: pointer;
}
