.bookmark {
  border: solid 1px black;
  position: relative;
  height: 90px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.image-container {
  padding: 5px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.header {}

.description {}

.tags-container {
  display: flex;
  flex-flow: row nowrap;
}

.actions-container {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.delete-button {
  cursor: pointer;
}

.edit-button {
  cursor: pointer;
}
