.app {
  display: flex;
  flex-direction: row;
}

.content-container {
  margin-top: 60px;  /* should be a global so we can control topbar height */
  margin-left: 100px;  /* should be a global so we can control sidebar width */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.close-modal {
  cursor: pointer;
  align-self: flex-end;
}


/*
 * z-indexes:
 * sidebar: 20;
 * topbar: 10;
 * bookmark adder button: 30;
 * notifications (the container): 40;
 * add bookmarks popup: 100;
 */
